body {
    background-color: #f0f0f3;
    font-family: 'Arial', sans-serif;
}

.edit-container {
    max-width: 800px;
    padding: 20px;
    margin: 40px auto;
    background: #f0f0f3;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.neumorphic-card {
    border-radius: 10px;
    background: #f0f0f3;
    box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 10px #ffffff;
    padding: 5px;
    transition: all 0.2s ease;
}

.neumorphic-card:hover {
    box-shadow: inset 10px 10px 30px #d9d9d9, inset -10px -10px 30px #ffffff;
}

.neumorphic-img {
    max-width: 100px;
    height: 50px;
}

.btn-save, .btn-danger {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 12px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 6px #bcbcbc, -3px -3px 6px #ffffff;
}

.btn-save:hover, .btn-danger:hover {
    box-shadow: inset 3px 3px 6px #bcbcbc, inset -3px -3px 6px #ffffff;
}

.btn-back {
    background: #004b69;
    color: white;
    padding: 10px;
    border-radius: 12px;
}
