<!DOCTYPE html>
<html>
<head>
    <title>Panel de Solicitudes</title>
</head>
<body>
    <h1>Panel de Solicitudes</h1>
    {% if user.is_authenticated %}
        {% if request.user.profile.level == 1 %}
            <a href="{% url 'releases:create_solicitud' %}">Crear Solicitud</a>
            <a href="{% url 'releases:register_user' %}">
                <button>Registrar Usuario</button>
            </a>
        {% elif request.user.profile.level == 0 %}
            <a href="{% url 'releases:create_solicitud' %}">Crear Solicitud</a>
        {% endif %}
        <a href="{% url 'releases:logout' %}">Cerrar Sesión</a>
    {% else %}
        <form method="post" action="">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button type="submit" name="login">Iniciar Sesión</button>
        </form>
    {% endif %}
    <hr>
    {% for solicitud in solicitudes %}
        <p>{{ solicitud.default_code }} - {% if solicitud.massive_changes %}Cambio Masivo{% else %}Cambio Directo{% endif %}</p>
        {% if user.is_authenticated and request.user.profile.level == 1 %}
            <a href="{% url 'releases:edit_solicitud' solicitud.id %}">Editar</a>
        {% endif %}
    {% endfor %}
</body>
</html>
