body {
    background-color: #f0f0f3;
    font-family: 'Arial', sans-serif;
}

.edit-container {
    max-width: 800px;
    padding: 20px;
    margin: 40px auto;
    background: #f0f0f3;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.neumorphic-card {
    border-radius: 10px;
    background: #f0f0f3;
    box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 10px #ffffff;
    padding: 5px;
    transition: all 0.2s ease;
}

.neumorphic-card:hover {
    box-shadow: inset 10px 10px 30px #d9d9d9, inset -10px -10px 30px #ffffff;
}

.neumorphic-img {
    max-width: 20px;
    height: auto;
}

.btn-save, .btn-danger {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 12px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 6px #bcbcbc, -3px -3px 6px #ffffff;
}

.btn-back {
    background: #004b69;
    color: white;
    padding: 10px;
    border-radius: 50px;
}


/* Estilo del modal con glassmorfismo */
.modal-content {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 80%; /* Ajusta el tamaño del modal al 80% del viewport */
    margin: auto;
}


/* Estilo para la imagen dentro del modal */
.modal-body img {
    max-width: 100%; /* Se asegura que la imagen no sobresalga */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
    margin: 0 auto; /* Centrar la imagen */
}

/* Ajustes para el tamaño del modal */
.modal-dialog {
    max-width: 500px; /* Limita el tamaño máximo del modal */
    width: auto;
}

/* Efecto de escala al pasar el cursor */
.neumorphic-card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3),
    -5px -5px 25px rgba(255, 255, 255, 0.8);
}

/* Efectos en las imágenes al hacer hover */
.neumorphic-img {
    transition: transform 0.3s ease, filter 0.3s ease;
    border-radius: 10px;
}

.neumorphic-img:hover {
    transform: scale(1.02);
    filter: brightness(1.1);
}

/* Modal con efecto de glassmorfismo */
.modal-content {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 0.4s ease;
}

/* Animación de zoom cuando se muestra el modal */
.modal.fade .modal-dialog {
    transition: transform 0.4s ease-out;
}

.modal.fade.show .modal-dialog {
    transform: scale(1.05);
}

/* Botón personalizado */
.btn-custom {
    background-color: #008ce5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2),
    -2px -2px 8px rgba(255, 255, 255, 0.8);
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.btn-custom:hover {
    background-color: #005fa3;
    transform: scale(1.05);
    color: #fff;
    padding: 12px 21px;
}

.btn-close-custom {

    border-radius: 50px;
    padding: 12px 12px;
}